aws_region      = "eu-north-1"
aws_access_key  = "REPLACE_WITH_TERRAFORM_ADMIN_ACCESS_KEY_ID"
aws_secret_key  = "REPLACE_WITH_TERRAFORM_ADMIN_SECRET_ACCESS_KEY"
ec2_instance_id = "i-093d043287d8b99ae"
